<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>Controller.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EstudianteController</servlet-name>
  	<display-name>EstudianteController</display-name>
  	<description></description>
  	<servlet-class>Controller.EstudianteController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EstudianteActualizar</servlet-name>
  	<display-name>EstudianteActualizar</display-name>
  	<description></description>
  	<servlet-class>Controller.EstudianteActualizar</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EstudianteRegistro</servlet-name>
  	<display-name>EstudianteRegistro</display-name>
  	<description></description>
  	<servlet-class>Controller.EstudianteRegistro</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PadreController</servlet-name>
  	<display-name>PadreController</display-name>
  	<description></description>
  	<servlet-class>Controller.PadreController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EstudianteController</servlet-name>
  	<url-pattern>/EstudianteController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EstudianteActualizar</servlet-name>
  	<url-pattern>/EstudianteActualizar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EstudianteRegistro</servlet-name>
  	<url-pattern>/EstudianteRegistro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PadreController</servlet-name>
  	<url-pattern>/PadreController</url-pattern>
  </servlet-mapping>
</web-app>
